.authority{
    overflow-y: auto;
    height: 100%;
}

.pageHeader{
    margin-bottom: 3rem;
}
.pageSize {
    margin: 0 1rem;
    font-weight: 900;
}
.delete{
    position: relative;
    left: 1rem;
}
.title{
    opacity: 0.6;
    letter-spacing: 0.05rem;
}
